<% provide(:title, "about")%>
<!DOCTYPE html>
<html>
    <head>
        <title><% yield(:title)%> | Ruby on Rails Tutorial Sample App </title>
    </head>
    <body>
        <h1>about</h1>
        <p>
            the <a href="http://www.railstutorial.com"><em>Ruby on Ralis Tutorial</em><a> is about
            <a href="http://www.railstutorial.org/book">book</a>and
            <a head="http://www.screencasts.railstutorial.org">screencast series</a>
            this is the sample application  for the tutorial
        </p>
    </body>
</html>
