<% provide :title, t(".home") %>
<h1><%= t ".sample app" %></h1>
<p>
  <%= t ".content" %>
  <%= link_to "ruby on rails tutorial", href="http://www.railstutorial.org/" %>
  <%= t ".sample application" %>.
</p>
